*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  /* Primary Colors */
  --clr-violet: hsl(263, 55%, 52%);
  --clr-grayish-blue: hsl(217, 19%, 35%);
  --clr-blackish-blue: hsl(219, 29%, 14%);
  --clr-white: hsl(0, 0%, 100%);

  /* Neutral Color */
  --clr-light-gray: hsl(0, 0%, 81%);
  --clr-light-grayish-blue: hsl(210, 46%, 95%);
}

body {
  font-family: "Inter", sans-serif;
  font-size: 0.8125rem;
  height: 100vh;
  display: grid;
  align-items: center;
  background-color: var(--clr-light-grayish-blue);
}

section {
  padding: 1.5rem;
  display: grid;
  grid-gap: 1.25rem;
}
.card {
  background-color: var(--clr-violet);
  color: var(--clr-white);
  padding: 1.875rem;
  border-radius: 1rem;

  &--grayish {
    background-color: var(--clr-grayish-blue);
  }

  &--white {
    background-color: var(--clr-white);
    color: var(--clr-grayish-blue);
  }

  &--blackish {
    background-color: var(--clr-blackish-blue);
  }
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  border-radius: 50%;
}

.profile__desc {
  margin-left: 1rem;
}
